


<div class="card mb-3 mx-auto">
  <img src="{{_posts.datos[id]['url']}}" class="card-img-top" alt="..."width="">
  <div class="card-body">
    <h1 class="card-title">{{_posts.datos[id]['title']}}</h1>
    <h3 class="card-title">{{_posts.datos[id]['subtitle']}}</h3>
    <h4 class="card-title"><i>{{_posts.datos[id]['author']}}</i></h4>
    <h5 class="card-title"><i>{{_posts.datos[id]['date']}}</i></h5>
    <h6 class="card-title">Categories: {{_posts.datos[id]['categories']}}</h6>
    <p class="card-text">{{_posts.datos[id]['body']}}</p>
    <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
  </div>
</div>
